@media print {
    .page-break {
        page-break-before: always;
    }

    .dont-print, .header  {
        display: none !important;
    }

}

h1, h2, h3, h4{
    margin-top: 6mm;
}

body{
    background-color: #faebd7;
}

main {
    max-width: 210mm;
}

p {
  text-align: justify;
}

hr {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.index-div {
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.floating-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.1s ease-out;

}

.floating-div .btn{
    border-radius: 30px 0 0 30px;
    white-space: nowrap;
}