@media print {
    .page-break {
        page-break-before: always;
    }

    .dont-print, .header  {
        display: none !important;
    }

}

h1, h2, h3, h4{
    margin-top: 6mm;
}

body{
    background-color: #faebd7;
}

main {
    max-width: 210mm;
}

p {
  text-align: justify;
}

hr {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}